*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #ddd;
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 30px 0;
  background-color: #f2f2f2;
  width: 50%;
  height: 60vh;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  overflow: scroll;
  border-radius: 10px;
}

.search {
  align-self: center;
  width: 95%;
}

.input {
  padding-left: 5px;
  padding-bottom: 10px;
  margin: 0 auto 30px auto;
  border: 0;
  background: none;
  border-bottom: 2px solid #aaa;
  width: 100%;
  font-family: 'Monserrat', sans-serif;
  color: #aaa;
  font-size: 24px;
  font-weight: 100;
}

.input[type='text']:focus {
  outline: none;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.img {
  margin: 0 30px;
  height: 100px;
  border: 1px solid #aaa;
  border-radius: 50%;
}

p {
  font-family: 'Monserrat', sans-serif;
  color: #aaa;
  font-weight: 100;
  margin-bottom: 10px;
}

p.name {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

p.desc {
  margin-left: 20px;
}
